<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Player</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />

</head>
<body>
<div th:replace="header :: body"></div>

<h1>Edit Player</h1>

<!--

th:action="@{/update} This is the name of the endpoint path that
I should have somewhere in my PlayerController method
-->

<form th:action="@{/update}" th:object="${player}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label>First Name:</label>
  <input type="text" th:field="*{firstName}" /><br/>

  <label>Last Name:</label>
  <input type="text" th:field="*{lastName}" /><br/>

  <label>Email:</label>
  <input type="email" th:field="*{email}" /><br/>

  <label>City:</label>
  <input type="text" th:field="*{city}" /><br/>

  <label>State:</label>
  <input type="text" th:field="*{state}" /><br/>

  <label>Address:</label>
  <input type="text" th:field="*{address}" /><br/>

  <label>Profession:</label>
  <input type="text" th:field="*{profession}" /><br/>

  <button type="submit">Update</button>
</form>

<a href="/list">Back to List</a>

<div th:replace="footer :: body"></div>

</body>
</html>
